// override bulma variables before import to customize
$phoenix-orange: #f05423;
$primary: $phoenix-orange;
.phx-hero {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    background: #eee;
    border-radius: 6px;
    padding: 3em 3em 1em;
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 120%;
  }

@import "bulma";

// add our own styles after the Bulma import